body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:0px; background-color:#BBBBBB; font-family:sans-serif;}
  .svgoban {height:100vmin; width:100vmin;
}

.board {
  margin: 45px 45px 30px 30px;
}

.board svg {
  overflow-x: visible;
  overflow-y: visible;
  width: 400px;
  height: 400px;
}

.board svg line {
  stroke: rgba(0, 0, 0, 0.8);
  stroke-width: 0.05;
  stroke-linecap: square;
}

.board svg rect {
  fill: rgba(255, 255, 255, 0.08);
}

.table {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  display: inline-block;
  background-color: rgb(221, 180, 84);
}

.label {
  text-transform: uppercase;
  font-size: 0.8px;
  font-weight: bold;
  font-family: 'Helvetica', sans-serif;
}

.label .y-label {
  alignment-baseline: middle;
}

.piece {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.piece .black {
  fill: black;
}

.piece .white {
  fill: white;
}

.piece:hover {
  stroke: green;
  stroke-width: 0.1;
}

.piece-target {
  opacity: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
